In [1]:
import pandas as pd
from binance.client import Client
import datetime

In [2]:
api_key = 'Iq8W1329NSUufpFoPMliUlbKi6AONciPGBpPPl065r7hBYUADFWbYHKZZu3qLxKT'
api_secret = 'UKd62vHIGuwZPjPgOhPlfeA2uyFE4634PuCyNvLqNceOx9N6VgWVIgjtfmooE9Sg'

client = Client(api_key, api_secret)

In [3]:
trades = trades = client.get_recent_trades(symbol='ETHUSDT')

In [4]:
df = list(trades)

In [5]:
df = pd.DataFrame(df)
df

,id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch
0,1000455113,1561.32000000,0.06340000,98.98768800,1666989300905,True,True
1,1000455114,1561.32000000,0.33340000,520.54408800,1666989302212,True,True
2,1000455115,1561.32000000,0.33330000,520.38795600,1666989304212,True,True
3,1000455116,1561.33000000,0.00790000,12.33450700,1666989304220,False,True
4,1000455117,1561.33000000,0.01280000,19.98502400,1666989304492,False,True
...,...,...,...,...,...,...,...
495,1000455608,1561.73000000,0.24620000,384.49792600,1666989434213,True,True
496,1000455609,1561.73000000,0.22900000,357.63617000,1666989434310,True,True
497,1000455610,1561.74000000,0.11440000,178.66305600,1666989436941,False,True
498,1000455611,1561.74000000,0.00670000,10.46365800,1666989438240,False,True
499,1000455612,1561.74000000,0.00800000,12.49392000,1666989440766,False,True

In [6]:
df.time = pd.to_datetime(df.time)

In [7]:
df.head()

,id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch
0,1000455113,1561.32000000,0.06340000,98.98768800,1970-01-01 00:27:46.989300905,True,True
1,1000455114,1561.32000000,0.33340000,520.54408800,1970-01-01 00:27:46.989302212,True,True
2,1000455115,1561.32000000,0.33330000,520.38795600,1970-01-01 00:27:46.989304212,True,True
3,1000455116,1561.33000000,0.00790000,12.33450700,1970-01-01 00:27:46.989304220,False,True
4,1000455117,1561.33000000,0.01280000,19.98502400,1970-01-01 00:27:46.989304492,False,True